body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 2rem;
}

p {
    text-align: right;
    font-size: 1.2rem;
}